body {
	background-image: url("https://adhitya-storege.s3-ap-southeast-1.amazonaws.com/img/back1.jpg");
	background-size: cover;
}
.logo {
	width: 600px;
	height: 291px;
	background-size: cover;
	background-image: url("img/logo.png");
	animation: zinzout 4s infinite;
	animation-direction: alternate;
}
@keyframe zinzout{
	from{
		transform: scale(1);
	}
	to{
		transform: scale(.9);
	}
}
.counter {
	width: 800px;
	border-radius: 50px;
}
.forum {
	width: 200px;
	height: 200px;
	background-image: url("https://adhitya-storege.s3-ap-southeast-1.amazonaws.com/img/forum.png");
	background-size: cover;
	cursor: pointer;
	transition-duration: 1s;
}
.forum:hover {
	transform: scale(1.1);
}
.vote {
	width: 200px;
	height: 200px;
	background-image: url("https://adhitya-storege.s3-ap-southeast-1.amazonaws.com/img/vote.png");
	background-size: cover;
	cursor: pointer;
	transition-duration: 1s;
}
.vote:hover {
	transform: scale(1.1);
}
.guide {
	width: 200px;
	height: 200px;
	background-image: url("https://adhitya-storege.s3-ap-southeast-1.amazonaws.com/img/guide.png");
	background-size: cover;
	cursor: pointer;
	transition-duration: 1s;
}
.guide:hover {
	transform: scale(1.1);
}