body {
	background-image: url("img/back1.jpg");
	background-size: cover;
}
.logo {
	width: 600px;
	height: 291px;
	background-size: cover;
	background-image: url("img/logo.png");
	-webkit-animation: zinzout 4s infinite;
	        animation: zinzout 4s infinite;
	-webkit-animation-direction: alternate;
	        animation-direction: alternate;
}
@-webkit-keyframes zinzout{
	from{
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	to{
		-webkit-transform: scale(.9);
		        transform: scale(.9);
	}
}
@keyframes zinzout{
	from{
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	to{
		-webkit-transform: scale(.9);
		        transform: scale(.9);
	}
}
.counter {
	width: 800px;
	border-radius: 50px;
}
.sel-anim {
	width: 200px;
	height: 200px;
	cursor: pointer;
	-webkit-transition-duration: 1s;
	        transition-duration: 1s;
}
.sel-anim:hover {
	-webkit-transform: scale(1.1);
	        transform: scale(1.1);
}